* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

/***************** Homepage Styles ****************/
body {
  font-family: 'IM Fell Double Pica', serif;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex: 1;
}

#homepage_desktop {
  display: none;
}

#desktop_top_bar {
  display: none;
}

#homepage {
  background-image: url("images/mobile_images/bg_homepage_mobile.jpg");
  background-size: cover;
}

#homepage_logo {
  width: 100%;
  max-width: 420px;
}

.logo_figure {
  text-align: center;
}

#top_section h2 {
  color: white;
  text-align: center;
  font-size: 1.5em;
}

#beetlejuice_grin {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

#gravestone_container {
  display: flex;
  margin-top: -260px;
}

/* #gravestone_container a img{
  width: 50%;
  max-width: 400px;
} */

#tombstone_left {
  width: 50%;
  max-width: 200px;
  z-index: 3;
}

#tombstone_right {
  width: 50%;
  max-width: 200px;
  z-index: 2;
}

footer {
  color: white;
  background-color: black;
  padding: 20px 5%;
  text-align: center;
  font-size: 1em;
}
/***************************** Homepage Styles ********************************/

/***************************** Resume Styles ********************************/
#resume {
  background-image: url("images/mobile_images/background_texture_mobile.jpg");
  background-size: cover;
}

#mobile_resume {
  background-image: url("images/mobile_images/resume_paper_mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* max-height: 884px; */
  height: 884px;
  max-width: 497px;
  width: 100%;
}

#mobile_resume img {
  width: 100%;
  max-width: 450px;
}

#resume_copy {
  transform: rotate(-3deg);
  padding-top: 56%;
  padding-left: 16%;
}

mark {
  background-color: black;
  color: white;
  padding: .5%;
  font-size: 1em;
}

#resume_copy ul {
  padding: 3%;
  font-size: .95rem;
}
/***************************** Resume Styles ********************************/

/********************** START 600PX MIN-WIDTH QUERY ***************************/
@media (min-width: 600px) {
  #homepage {
    background-image: url("images/desktop_images/background.jpg");
    background-size: cover;
  }

  #homepage_mobile {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
}
/********************** END 600PX MIN-WIDTH QUERY ***************************/

/********************** START 800PX MIN-WIDTH QUERY ***************************/
@media (min-width: 800px) {
  #mobile_top_bar {
    display: none;
  }

  #homepage_mobile {
    display: none;
  }

  #desktop_top_bar {
    display: block;
  }

  #homepage_desktop {
    display: block;
  }

  #top_section_desktop h2 {
    color: white;
    text-align: center;
    font-size: 1.5em;
  }

  #top_section_desktop h3 {
    color: white;
    text-align: center;
    font-size: 1em;
  }

  #top_section_desktop figure {
    text-align: center;
  }

  #main_section_desktop {
    display: flex;
  }

  #tombstone_left_desktop, #tombstone_right_desktop {
    width: 33.333333333%;
  }

  #beetlejuice_grin_desktop {
    width: 100%;
    max-width: 500px;
  }


}
