/***************** Main Styles ****************/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
  font-family: 'IM Fell Double Pica', serif;
	color: white;
	overflow-x: hidden;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex: 1;
}

figure img {
	width: 100%;
}

nav ul li {
	list-style-type: none;
}

nav ul li a {
	text-decoration: none;
}

/***********************************Slideout***********************************/
#menu {
	position: fixed;
	background-image: url("images/desktop_images/background.jpg");
	width: 100%;
	height: 100%;
	max-width: 256px;
}

#menu h3 {
	padding: 15px 5px 0 5px;
	font-weight: normal;
	font-size: 1.2rem;
	width: 80%;
}

#menu ul {
	display: flex;
	height: 100vh;
	align-items: flex-end;
}

#menu ul li {
}

.tombstone-left, .tombstone-right {
	position: absolute;
	bottom: 3%;
}

.tombstone-left {
	left: -8px;
	width: 50%;
}

.tombstone-right {
	right: -11px;
	width: 60%;
}

.glow:hover {
	animation: glow;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#panel {
		border-left: 8px groove #5B3E87;
}

.toggle-button {
	max-width: 50px;
	width: 15%;
	padding: 3%;
	cursor: pointer;
}

.toggle-button:hover {
	animation: skull;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

/***************** Homepage Styles ****************/
#homepage_desktop {
  display: none;
}

#desktop_top_bar {
  display: none;
}

#homepage {
  background-image: url("images/mobile_images/bg_homepage_mobile.jpg");
  background-size: cover;
}

#homepage_logo {
  width: 100%;
  max-width: 420px;
}

.logo_figure {
  text-align: center;
}

#top_section h2 {
  color: white;
  text-align: center;
  font-size: 1.5em;
}

#beetlejuice_grin {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

#gravestone_container {
  display: flex;
  margin-top: -260px;
}

/* #gravestone_container a img{
  width: 50%;
  max-width: 400px;
} */

#tombstone_left {
  width: 50%;
  max-width: 200px;
  z-index: 3;
}

#tombstone_right {
  width: 50%;
  max-width: 200px;
  z-index: 2;
}

footer {
  color: white;
  background-color: black;
  padding: 20px 5%;
  text-align: center;
  font-size: 1em;
}
/***************************** Homepage Styles ********************************/

/***************************** Resume Styles ********************************/
#resume {
  background-image: url("images/mobile_images/background_texture_mobile.jpg");
  background-size: cover;
}

#mobile_resume {
  background-image: url("images/mobile_images/resume_paper_mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* max-height: 884px; */
  height: 884px;
  max-width: 497px;
  width: 100%;
}

#mobile_resume img {
  width: 100%;
  max-width: 450px;
}

#resume_copy {
  transform: rotate(-3deg);
  padding-top: 56%;
  padding-left: 16%;
}

mark {
  background-color: black;
  color: white;
  padding: .5%;
  font-size: 1em;
}

#resume_copy ul {
  padding: 3%;
  font-size: .95rem;
}

/****************************** Contact Page Styles ***************************/
#wallpaper {
	background: url("images/desktop_images/background_texture_desktop.jpg") no-repeat center;
	background-size: cover;
	min-height: 100vh;
}

/* New sticky footer */
.contact-content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.flex-wrapper {
	flex-grow: 1;
}

.roach {
	position: absolute;
	width: 30%;
	max-width: 300px;
}

.roach1 {
	transform: rotateZ(-98deg);
	top: -10vw;
	left: 50%;
}

.roach2 {
	transform: rotateZ(87deg);
	top: 100px;
	left: 0;
}

.roach3 {
	bottom: 25%;
	right: -10%;
}

.contact-logo {
	margin: auto;
	width: 98%;
	max-width: 600px;
	position: relative;
}

.contact-logo-image {
	position: absolute;
}

#contact-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width:
}

.center {
	text-align: center;
	text-shadow: 1px 1px 2px black;
	font-size: 1.5rem;
}

.ghost-mirror {
	position: relative;
	text-align: center;
	margin: auto;
	width: 98%;
	max-width: 600px;
}

#counter {
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	font-size: 10vw;
}

#summoning-spot {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.7rem;
}

#summoning-spot {
	padding: 25px 3%;
}

.click-button {
	font-family: 'IM Fell Double Pica', serif;
	display: inline-block;
	background-color: white;
	color: black;
	font-size: 2rem;
	padding: 5px 20px;
	border-radius: 10px;
	box-shadow: -3px 3px 10px black;
	margin-top: 15px;
	cursor: pointer;
}

.click-button:hover {
	transform: scale(1.1);
}

.sandworm {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0;
	background-color: transparent;
	overflow: hidden;
}

.sandworm-left, .sandworm-right {
	position: relative;
	bottom: -5px;
}

.sandworm-left img {
	animation: sandwormleft;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

.sandworm-right img {
	animation: sandwormright;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
/***************************** Resume Styles ********************************/

/********************** START 600PX MIN-WIDTH QUERY ***************************/
@media (min-width: 600px) {
/* Navigation */
	.toggle-button {
		padding: 17px;
	}
  #homepage {
    background-image: url("images/desktop_images/background.jpg");
    background-size: cover;
  }

  #homepage_mobile {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

/* Contact Page */
	.normal-header {
		margin-bottom: -50px;
	}
	#summoningSpot {
    margin-top: -20px;
	}
}
/********************** END 600PX MIN-WIDTH QUERY ***************************/

/********************** START 800PX MIN-WIDTH QUERY ***************************/
@media (min-width: 800px) {
  #mobile_top_bar {
    display: none;
  }

  #homepage_mobile {
    display: none;
  }

  #desktop_top_bar {
    display: block;
  }

  #homepage_desktop {
    display: block;
  }

  #top_section_desktop h2 {
    color: white;
    text-align: center;
    font-size: 1.5em;
  }

  #top_section_desktop h3 {
    color: white;
    text-align: center;
    font-size: 1em;
  }

  #top_section_desktop figure {
    text-align: center;
  }

  #main_section_desktop {
    display: flex;
  }

  #tombstone_left_desktop, #tombstone_right_desktop {
    width: 33.333333333%;
  }

  #beetlejuice_grin_desktop {
    width: 100%;
    max-width: 500px;
  }

/* Contact Page */
	#counter {
		font-size: 5rem
	}
	.contact-logo {
		margin-top: -65px;
	}
}


/********************** START 1000PX MIN-WIDTH QUERY **************************/
@media (min-width: 1000px) {
/* Contact Page */
	.roach1 {
		top: -5vw;
	}

	.roach3 {
		right: -5%;
	}
}
/********************** END 1000PX MIN-WIDTH QUERY ****************************/

/**********************************Animations**********************************/
/* Sandworm */
@keyframes sandwormleft {
	0% {
		transform: skewY(0deg);
	}
	15% {
		transform: skewY(3deg);
	}
	30% {
		transform: skewY(5deg);
	}
	45% {
		transform: skewY(8deg);
	}
	50% {
		transform: skewY(10deg);
	}
	55% {
		transform: skewY(8deg);
	}
	70% {
		transform: skewY(5deg);
	}
	85% {
		transform: skewY(3deg);
	}
	100% {
		transform: skewY(0deg);
	}
}

@keyframes sandwormright {
	0% {
		transform: skewX(0deg);
	}
	15% {
		transform: skewX(3deg);
	}
	30% {
		transform: skewX(5deg);
	}
	45% {
		transform: skewX(8deg);
	}
	50% {
		transform: skewX(10deg);
	}
	55% {
		transform: skewX(8deg);
	}
	70% {
		transform: skewX(5deg);
	}
	85% {
		transform: skewX(3deg);
	}
	100% {
		transform: skewX(0deg);
	}
}

/* Nav Skull */
@keyframes skull{
	0% {
		transform: rotate(0)
	}
	10% {
		transform: rotate(4deg)
	}
	20% {
		transform: rotate(8deg)
	}

	30% {
		transform: rotate(10deg)
	}
	40% {
		transform: rotate(6deg)
	}
	50% {
		transform: rotate(2deg)
	}

	60% {
		transform: rotate(-2deg)
	}
	70% {
		transform: rotate(-6deg)
	}
	80% {
		transform: rotate(-10deg)
	}
	90% {
		transform: rotate(-6deg)
	}
	100% {
		transform: rotate(-2deg)
	}
}

/* Nav Tombstone glow */
@keyframes glow {
  0% {
    filter: drop-shadow(0px -1px 1px #aef4af);
	}
	10% {
		filter: drop-shadow(0px -3px 3px #aef4af);
	}
  20% {
    filter: drop-shadow(0px -5px 5px #aef4af);)
  }
	30% {
		filter: drop-shadow(0px -5px 7px #aef4af);)
	}
	40% {
		filter: drop-shadow(0px -5px 9px #aef4af);)
	}
	50% {
		filter: drop-shadow(0px -5px 11px #aef4af);)
	}
	60% {
		filter: drop-shadow(0px -5px 9px #aef4af);)
	}
	70% {
		filter: drop-shadow(0px -5px 7px #aef4af);)
	}
	80% {
		filter: drop-shadow(0px -5px 5px #aef4af);)
	}
	90% {
		filter: drop-shadow(0px -3px 3px #aef4af);
	}
	100% {
		filter: drop-shadow(1px -1px 1px #aef4af);
	}
}
